/////////////////////////////// Main //// //////////////////////////////

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1D2731;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
}

h1 {

}

h2 {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px 0 20px 0;
}

h3 {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin: 20px 0 10px 0;
}

h4 {

}

p {
  font-size: 0.7rem;
  padding: 4px;
  // color: white;
}

.tag {
  margin: 2px;
}

/////////////////////////// Login & Register page //////////////////////////////

.loginSection, .registerSection {
  background-color: #1D2731;
  color: #ffffff;
  height: 150vh;
  margin-top: 30px;
  width: 90%;
  margin: 0 auto;
}

.loginSection .input:focus, .registerSection .input:focus {
  border: 2px #6121fd solid;
}


/////////////////////////// Edit User Profile //////////////////////////////////

.editProfile {
  background-color: #1D2731;
  color: #ffffff;
  height: auto;
  top: 0;
}

.profilePic {
  height: 150px;
  width: 150px;
}

 .uploadImageSection {
   background-color: #1D2731;
   color: #ffffff;
   height: 100vh;
   top: 0;
 }

.editProfile .input:focus, .uploadImageSection .input:focus {
  border: 2px #6121fd solid;
}


////////////////////////////////// Users Index Section /////////////////////////

.usersIndexSection {
  background-color: #1D2731;
  color: #ffffff;
  height: 100vh;
  top: 0;
}

.form {
  background-color: #1D2731;
  color: #ffffff;
  top: 0;
}

.input {
  background-color: transparent;
  color: white;
  margin: 5px 0 10px 0;
  border-radius: 20px;
  height: 40px;
}

input::placeholder {
  color: #c7c7c799 !important;
}

.button {
  border-radius: 20px;
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(135deg, #b721ff, #6121fd);
  border: none;
}

// Show image page
.showImage {
  background-color: #1D2731;
  color: #ffffff;
}

.comments {
  border-radius: 40px;
  padding: 2px;
  margin: 10px 0 10px 0;
}

.deleteUserAccountBtn {
  margin-top: 60px;
}

.map {
  height: 400px;
  width: 100%;
}

.profilePic {
  height: 250px;
  width: 250px;
  border-radius: 100%;
  margin: 0 auto;
}


.discover {
  background-image: url("https://static1.squarespace.com/static/576ef902d1758ef2e6dada3d/576f03126a4963e880312dde/583dcd12e6f2e18631e93ba6/1480445534612/IMG_2157.JPG?format=2500w");
  height: 300px;
  background-size: cover;
}

// User Index Page

.usersIndexSection {
  background-color: white;
}

.FilterByTypeSection, .SortByLocationSection {
  padding: 10px;
  margin: 10px;
}

.searchBar {
  margin-top: 50px;
}

.searchBarSection {
  margin: 0;
}

.userIndexImage {
    position: relative;
    width: 50%;
    margin: 0 auto;
    border-radius: 40px;
}

.section {
  padding: 10px;
}

.userIndex {
  background-color: #f9f9f9;
  opacity: 1;
  margin: 30px;
  border-radius: 40px;
  color: black;
  /* margin: 0 auto; */
  height: auto;
  transition: .5s ease;
  text-align: center;
}

.userReviews, .userComments {
  background-color: #273440;
  border-radius: 30px;
  margin: 20px;
  color: white;
}

.isDisliked {
  // background-image: url("./assets/heart-solid.svg");
  background-color: red;
}

.isLiked {
  background-color: blue;
}

.userProfilePic {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  border: 2px white solid;
}


// Home page

.homeSection {
  height: 100vh;
}

.split-top {
  background-image: url("https://stylewhack.com/wp-content/uploads/2017/11/IMG_0720.jpg");
  background-size: cover;
  height: 50vh;
  position: relative;
}

.split-bottom {
  background-image: url("https://static1.squarespace.com/static/576ef902d1758ef2e6dada3d/576f03126a4963e880312dde/583dcce7b3db2b24516db747/1480445534740/IMG_0439.JPG?format=2500w");
  background-size: cover;
  height: 50vh;
  position: relative;
}

.homeBtn {
  top: 50%;
  left: 50%;
  position: absolute;
  padding: 20px;
  background-color: white;
}


// Navbar
$navbar-height: auto 0;

.navbar {
  background-color: orange;
  position: fixed;
  width: 100%;
  height: 30px;
  top: 0;
}


// Portfolio

.portfolioSection {
  width: 100%;
  background-color: white;
  height: 100vh;
  overflow: scroll;
}

.portfolioImage {
  border-radius: 10px;
}

// filestack
.filestackButton {
  width: 100%;
  background-color: transparent;
  color: white;
  margin: 5px 0 10px 0;
  border-radius: 20px;
  height: 40px;
  font-size: 1rem;
  text-align: center;
  padding: 5px;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  text-transform: uppercase;
  border: 2px #b721ff solid;
  font-weight: 500;
}
