body {
  background-color: #1D2731;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  // color: white;
}

p {
  font-size: 0.7rem;
  padding: 4px;
  color: white;
}

h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px 0 10px 0;
}

h3 {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin: 10px 0 10px 0;
}


.tag {
  margin: 2px;
}

// Login page
.loginSection {
  background-color: #1D2731;
  color: #ffffff;
  height: 80vh;
  top: 0;
}

// Register page
.registerSection {
  background-color: #1D2731;
  color: #ffffff;
  height: 100vh;
  top: 0;
}

// Edit User profile page
.editProfile {
  background-color: #1D2731;
  color: #ffffff;
  height: 100vh;
  top: 0;
}

// Upload Image
.uploadImageSection {
  background-color: #1D2731;
  color: #ffffff;
  height: 50vh;
  top: 0;
}

.form {
  background-color: #1D2731;
  color: #ffffff;
  top: 0;
}

.input {
  background-color: transparent;
  color: white;
  margin: 5px 0 5px 0;
  border-radius: 20px;
}

.select {
  background-color: transparent;
  margin: 5px 0 5px 0;
  border-radius: 20px;
}

.button {
  border-radius: 20px;
  margin: 5px 0 5px 0;
  font-weight: 600;
  text-transform: uppercase;
}

// Show image page
.showImage {
  background-color: #1D2731;
  color: #ffffff;
}

.comments {
  border-radius: 40px;
  padding: 2px;
  margin: 10px 0 10px 0;
}

.deleteUserAccountBtn {
  margin-top: 60px;
}

.map {
  height: 500px;
}

.profilePic {
  height: 250px;
  width: 250px;
  border-radius: 100%;
}


.discover {
  background-image: url("https://static1.squarespace.com/static/576ef902d1758ef2e6dada3d/576f03126a4963e880312dde/583dcd12e6f2e18631e93ba6/1480445534612/IMG_2157.JPG?format=2500w");
  height: 300px;
  background-size: cover;
}

.userIndex {
  background-color: #273440;
  border-radius: 30px;
  margin: 30px;
}

.userIndex:hover {
  opacity: 0.2;
  border: 2px solid white;
}


.userIndexImage {
  border-radius: 30px;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}


.userReviews, .userComments {
  background-color: #273440;
  border-radius: 30px;
  margin: 20px;
  color: white;
}

.userPortfolio {
  border-radius: 10px;
}
